









.article_title{
    font-size: 3rem;
}


.article_subtitle{
    font-size: 1.5rem;
    color: #2e2e2e;
    margin-block-end: 1.5rem;
}

.artikie_date time{
    color: #2e2e2e;
    font-size: 1.2rem;
    
}




.article_content p{
    text-indent: 2rem;
    font-size: 1.1rem;
    line-height: 2rem;
}













































