@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family:'Roboto Condensed', sans-serif;
}
ul{
    list-style: none;
}
a{
   text-decoration: none; 
}
.container{
    max-width:1270px;
    margin-inline: auto;
    padding-inline :15px ;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.wrapper{
    min-height: 100% ;
    background-color: #2e2e2e;
    overflow-x: hidden;
}
.header_wrapper{
    background-color: #ffffff;
}

.header_body{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu{
    display: flex;
    align-items: center;
}
.header_list{
    display: flex;
}
.header_item{
    
}
.header_logo{
    font-family: 'Bebas Neue', cursive;

    font-size: 2rem;
    height: 90%;
    display: flex;
    align-items: center;
    transform: rotate(3deg);
    background-image: linear-gradient(
        110deg,
        rgb(17, 0, 255) 15%,
        rgb(0, 204, 255) 30%,
        rgb(205, 17, 59) 70%,
        rgb(165, 21, 138)
    );
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: makis 10s linear infinite normal;
}
@keyframes makis{
    0%{
        background-position-x: 300%;
    }
    100%{
        background-position-x: -300%;
    }
}

.header_link{
    display: flex;
    align-items: center;
    height: 100px;
    color:   #2e2e2e;
    font-size: 1rem;
    font-weight: 700;
    padding-inline: 8px ;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}
.header_link::after{
    content: '';
    display: block;
    width: 0%;
    height: 0;
    background-color: rgb(255, 238, 0);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    bottom: 0;
    pointer-events: none;
    border-radius: .6rem .6rem 0 0;
    transition: all .5s ease
    
}

.header_social{
    display: flex;
    align-items: center;
}

.social-media_link{
    display: flex;
    align-items: center;
    color: #2e2e2e;
    font-size: 2rem;
    margin-inline-start: 1.5rem;
    transition: .3s;
}
@media screen and (any-hover: hover){
    .header_link:hover::after{
        width: 100%;
        height: 100%;
    }
    .social-media_link:hover{
        transform: scale(1.5) rotate(2deg);
        color:   #fbff00;
    }
    
}
.header_burger{
    display: none;
}
.menu_icon{
    font-size: 2.5rem;
}

@media screen and (max-width: 992px){
    .header_burger{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header_menu{
        position: fixed;
        left: -100%;
        top: 0;
        background-color: #fffbfb;
        width: 320px;
        height: 100%;
        opacity: 0;
        transform: scale(0);
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding-block: 15px ;
        transition: .4s;
    }
    .active{
        left: 0;
        opacity: 1;
        transform: scale(1);
    }
    .header_list{
        flex-direction: column;

    }
    .header_link{
        width: 100%;

       justify-content:space-evenly ;
    }
}
.social-media_link{
    margin: 0;
}

.hero{
    padding-block: 80px;
}
.hero_container{
    height: 700px;
}
.hero_slide .slide-img{
    width: 100%;
    height: 100%;
} 
.hero_slide::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
        to right,
        rgba(0,0,0,1) 8%,
        transparent 100%
    );
}
.arrow{
    position: absolute;
    top: 40%;
    transform: translateY(-1px);
    z-index: 2;
    width: 40px;
    height: 40px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-left{
    left: 0;
    right: auto;
}
.arrow-right{
    right: 0;
    left: auto;
}
.arrow-icon{
    color:  #fbff00;
}
.hero_info{
    position: absolute;
    top: 40%;
    left: calc(4rem + 40px);
}
.info-hero{
    color:  #fffb00 ;
    max-width: 270px;
}
.info-hero_title{
    font-size: 3rem;
    margin-block-end: 1rem;
}
.info-hero_text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
     overflow: hidden;
    font-size: 1rem;
    line-height: 2rem;
    margin-block-end: 1rem;

}
.info-hero_btn{
    display: inline-block;
    background-color: rgb(36, 36, 35);
    color: #fbff00;
    font-weight: 700;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    transition: .4s;
}
@media screen and (any-hover: hover){
    .info-hero_btn:hover{
        background-color: hsl(0, 0%, 0%);
        transform: scale(1.1);
    }
}
    
@media screen and (any-hover: hover){
    .hero_container{
        height: 550px;
    }
    .hero_info{
        top: 15%;
        left: calc(2rem + 40px);
    }
    .info-hero{
        max-width: 400px;
        padding-inline: 1rem;
    }
    .arrow{
        top: auto;
        bottom: 1rem;
    }
}
@media screen and(max-width: 575px){
    .hero_container{
        height: 400px ;
    }
    .hero_info{
        top: 0;
        left: 0;
    }
   
    .arrrow{
        width: 40px;
        height: 40px;
    }
    .arrow-left{
        left: auto;
        right: 5rem;
    }
    .arrow-icon{
        font-size: 12px;
    }


.news_title{
        font-size: 2rem;
        margin-block-end: 1rem;
    background-image: linear-gradient(
        110deg,
        rgb(17, 0, 255) 15%,
        rgb(0, 204, 255) 30%,
        rgb(205, 17, 59) 70%,
        rgb(165, 21, 138)
    );
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: makis 10s linear infinite normal;
}

.news_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.item-mews_link{
    display: block;
    color: #fbff00;
    
}
.item-mews_price{
    margin-inline-start: 1rem;
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
}
}